.mapa {
    text-align: center;
    color: red;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.text {
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin: 10px;
}
